/* PRINCIPAL STYLE CONFIGURATION! */
@import "tw-elements-react/dist/css/tw-elements-react.min.css";

@import url("styles/colours.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BACKGROUND */
body {
  background-color: var(--offblack);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "CodecPro";
  src: url(/assets/fonts/codec-pro/CodecPro-Regular.ttf);
}

@font-face {
  font-family: "CodecProBold";
  src: url(/assets/fonts/codec-pro/CodecPro-Bold.ttf);
}

@font-face {
  font-family: "CodecProItalic";
  src: url(/assets/fonts/codec-pro/CodecPro-Italic.ttf);
}

@font-face {
  font-family: "Halimum";
  src: url(/assets/fonts/halimum/Halimun.ttf);
}
