/* PRINCIPAL STYLE CONFIGURATION! */
@import "tw-elements-react/dist/css/tw-elements-react.min.css";

@import url("styles/colours.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BACKGROUND */
body {
  background-color: var(--offblack);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
